.body{
	background-color:#F8F8F8!important;
}

#profile-wrapper{
	text-align: center;
}

#profile-pic{	
	align-items: center;
	border-radius: 50%;
}

.ul{
	padding: 0;
    list-style-type: none;
}
